:root {
  --mainBlue: hsl(216, 68%, 30%);
  --lightBlue: #0093e9;
  --mainWhite: #e9ecef;
  --mainDark: #232528;
  --mainYellow: #f0ed32;
}

body {
  font-family: 'Helvetica', sans-serif !important;
  background-color: #edeef0ab !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3rem;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}