:root {
  --mainBlue: hsl(216, 100%, 27%);
  --lightBlue: #29abf7;
  --mainwhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #f0ed32;
}

body {
  font-family: 'Helvetica', sans-serif !important;
  background: var(--mainwhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3rem;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}